

.dictionary__tools-wrapper {
  display: flex;
  align-items: center;
  background-color: #2525257c;
  border-radius: 4px;
  margin-bottom: 20px;
  gap: 10px;
}

.dictionary__save {
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  gap: 5px;
  font-size: 12px;
  padding: 5px;
  color: var(--color-secondary);
}

.dictionary__categories {
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.dictionary__categories::before {
  content: '';
  width: 2px;
  height: 70%;
  background: linear-gradient(
    250deg,
    rgb(255, 255, 255, 0) 0%,
    var(--color-accent-02) 51.56%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  right: 0px;
}

.dictionary__categories-btn {
  width: 40px;
  height: 30px;
  border-radius: 4px;
  background-color: var(--color-grey);

  position: relative;
  margin-right: 10px;
}
.dictionary__categories-btn::before {
  content: '';
  width: 15px;
  height: 3px;
  display: block;
  background-color: #7e7e7e;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.5s;
}
.dictionary__categories-btn::after {
  content: '';
  width: 15px;
  height: 3px;
  display: block;
  background-color: #7e7e7e;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-90deg);
  transition: 0.5s;

}
.dictionary__categories-btn:hover::before,.dictionary__categories-btn:hover::after {
  background-color: var(--color-accent-02);
  box-shadow: 0 0 20px 1px var(--color-accent-02);
  transition: 0.5s;
} 
.dictionary__categories-item-wrapper {
  display: flex;
  gap: 10px;
}
.dictionary__categories-item {
  padding: 5px;
  background-color: var(--color-grey);
  border-radius: 4px;
  color:var(--color-secondary);
  cursor: pointer;
  transition: 0.5s;
}
.dictionary__categories-item:hover {
  color: var(--color-accent-02);
  box-shadow: 0 0 4px 1px var(--color-accent-02);
  transition: 0.5s;
}
/* .active-item {
  color: var(--color-accent-02);
  box-shadow: 0 0 20px 1px var(--color-accent-02);
} */

.dictionary__tools-bar {
  /* margin-left: 10px; */
  display: flex;
  gap: 5px;
}
.dictionary__tools-bar-btn-wrapper {
  border-radius: 4px;
  background-color: var(--color-grey);
  position: relative;
}
/* .dictionary__color-info {
  width: 60%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
} */
.tools-bar-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  transition: 0.5s;
}

.tools-bar-btn:hover {
  box-shadow: 0 0 4px 1px var(--color-accent-02);
  /* background:#0e311c; */
  transition: 0.5s;
}
.active-shadow {
  box-shadow: 0 0 4px 1px var(--color-accent-02);
}

.dictionary__size-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  padding: 10px;
}
.dictionary__size-wrapper::after {
  content: '';
  left: -1px;
  position: absolute;
  width: 2px;
  height: 70%;
  background: linear-gradient(
    250deg,
    rgb(255, 255, 255, 0) 0%,
    var(--color-accent-02) 51.56%,
    rgba(255, 255, 255, 0) 100%
  );
}
.dictionary__size-wrapper::before {
  content: '';
  right: -1px;
  position: absolute;
  width: 2px;
  height: 70%;
  background: linear-gradient(
    250deg,
    rgb(255, 255, 255, 0) 0%,
    var(--color-accent-02) 51.56%,
    rgba(255, 255, 255, 0) 100%
  );
}
.dictionary__size-minus,.dictionary__size-plus {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: var(--color-grey);
  color: #7e7e7e;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.dictionary__size-minus:hover,.dictionary__size-plus:hover {
  box-shadow: 0 0 4px 1px var(--color-accent-02);
  transition: 0.5s;
}
.dictionary__size-count {
  color: #7e7e7e;
  background: var(--color-grey);
  width: 30px;
  height: 30px;
  border-radius:4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dictionary__search-wrapper {
  position: relative;
  width: 220px;
  /* height: 30px; */
}

.dictionary__label {
}
.dictionary__input {
  width: 100%;
  padding: 5px 40px 5px 5px; /* справа место под иконку */
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--color-grey);
  color: #a1a1a1;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;

}
.dictionary__input:focus {
  box-shadow: 0 0 4px 1px var(--color-accent-02);
}

.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  right: 0px;
  color: var(--color-secondary);
}

    

.fa-solid {
  pointer-events: none;
  color:var(--color-secondary);
  font-size: 15px;
}

.fa-brands {
  pointer-events: none;
  color:var(--color-secondary);
  font-size: 15px;
}

